@model WebDev_MainLab.Models.Order

<h2>Order</h2>

<dl class="res-view">
    <dt>
        Name : 
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        Surname : 
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Surname)
    </dd>
    <dt>
        Country : 
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Country)
    </dd>
    <dt>
        City  :
    </dt>
    <dd>
        @Html.DisplayFor(model => model.State)
    </dd>
    <dt>
        Adress :
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Adress)
    </dd>
   
</dl>

<a class="btn btn-primary" asp-action="Index" asp-controller="Pay">To Payment</a>
