@model WebDev_MainLab.Models.ProfileViewModel
@inject IViewLocalizer Localizer

<h2>@Html.DisplayFor(model => Model.Name)</h2>
<h3>
    @Localizer["Total spend"] : @Html.DisplayFor(model => Model.TotalSpend);
</h3>

    @foreach (var item in Model.Items)
    {
        @if (item.MyItem != null)
        {
            <div style="display:inline-flex">
                <h5><b>@Html.DisplayFor(model => item.MyItem.Name)</b>  :</h5>
                <h5>@Html.DisplayFor(model => item.Quantity) </h5>
                <h5> X @Html.DisplayFor(model => item.MyItem.Price)</h5>
</div>
            
        }
    }

