@model WebDev_MainLab.Models.ProfileViewModel
@inject IViewLocalizer Localizer

<h2>@Html.DisplayFor(model => Model.Name)</h2>
<h3>
    @Localizer["Total spend"] : @Html.DisplayFor(model => Model.TotalSpend);
</h3>

    @foreach (var item in Model.Items)
    {
        @if (item.MyItem != null)
        {
            <div style="display:inline-flex">
                @Html.DisplayFor(model => item.MyItem.Name)
                @Html.DisplayFor(model => item.Quantity)
                X @Html.DisplayFor(model => item.MyItem.Price)
            </div>
            
        }
    }

