@model WebDev_MainLab.Models.ApplicationUser
@inject IViewLocalizer Localizer

<h2>@Localizer["Delete"]</h2>

<h3>@Localizer["Message"]</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@Localizer["Delete"] class="btn btn-default" /> |
        <a asp-action="Index">@Localizer["Back"]</a>
    </form>
</div>
