@using System.Globalization;
@model WebDev_MainLab.Models.Cart
@inject IViewLocalizer Localizer;

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}
<h2>@Localizer["basket"]</h2>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">@Localizer["quantity"]</th>
            <th>@Localizer["item"]</th>
            <th class="text-right">@Localizer["price"]</th>
            <th class="text-right">@Localizer["cost"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Lines)
        {
        <tr>
            <td class="text-center">
                @using (Html.BeginForm("RemoveItem", "Carts"))
                {
                    <div class="pull-left">
                        @Html.Hidden("itemID", @line.MyItem.ID)
                        <input type="submit" class="btn btn-danger" value="@Localizer["remove"]" />

                    </div>
                }
                @line.Quantity
            </td>
            <td class="text-left">@line.MyItem.Name</td>
            <td class="text-right">@line.MyItem.Price</td>
            
            <td class="text-right">
                @((line.Quantity * Double.Parse(line.MyItem.Price, new CultureInfo("ru"))).ToString())

            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">@Localizer["total"]:</td>
            <td class="text-right">
                @Model.ComputeTotalValue().ToString()
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Films">@Localizer["back"]</a>
    <a class="btn btn-primary" asp-action="getOrder">@Localizer["getOrder"]</a>
</div>
