@model IEnumerable<WebDev_MainLab.Models.Commentar>

@{
    ViewData["Title"] = "CommentarEdit";
}

<h2>CommentarEdit</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <form asp-action="DeleteCommentar">
                    @Html.Hidden("comID", @item.ID)
                    <input type="submit" value="Delete" class="btn btn-default" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
