@model WebDev_MainLab.Models.Goods
@inject IViewLocalizer Localizer

<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>

<h2>@Localizer["Details"]</h2>


<div class="details">

    <h3>@Html.DisplayFor(model => model.Name)</h3>
    @if (@Model.ImageData == null)
    {<img src="~/images/no_image.jpg" />}

    else
    {
        <img src="data:image/jpg;base64,@(Convert.ToBase64String(@Model.ImageData))" />

    }
    <p>@Html.DisplayFor(model => model.Description)</p>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            $@Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <p>
        <div id="aditionalParams"></div>
    </p>


    @using (Html.BeginForm("AddItem", "Carts"))
    {
        <div class="pull-left">
            @Html.Hidden("itemID", @Model.ID)
            <input type="submit" class="btn btn-success" value=@Localizer["Add to Cart"] />

        </div>
    }

</div>
<p id="comments" class="comment"></p>

<form asp-action="AddComments" name="myForm" method="post" style="display:none">
    <p>
        <textarea cols="40" rows="10" name="text"></textarea>
    </p>
    <input type="submit" name="add" value=@Localizer["Add"] />
</form>

<a id="addComment">@Localizer["AddNewComment"]</a>
<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#addComment").on("click", function () {
            var form = $("form[name=myForm]");
            form.css("display", "block");
            $("#addComment").replaceWith(form);
        });

    });
</script>
<script>
    $("form[name=myForm]").on('submit', function (e) {
        e.preventDefault();
        $this = $(this);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddComment")',
            data: {text:$('textarea[name=text]').val(),itemID:@Model.ID},
            dataType: 'html',
            success: function (res) {
                $('#comments').empty();
                $('#comments').append(res);
             }
        });
        return false;
     })
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url:'@Url.Action("GetOutPartialView")',
            dataType: 'html',
            type: 'GET',
            data: {cat:'@Model.Category'},
            success: function (res) {

                $('img').after(res);

            }
        });

        $.ajax({
            url:'@Url.Action("GetCommentsPartial")',
            dataType: 'html',
            type: 'GET',
            data: {itemID:@Model.ID},
            success: function (res) {
                $('#comments').append(res);

            }
        });

     })
</script>